<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/POO3_Herencia_de_clases_27_5/src/com/ejemplo/herencia3/Principal.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ejemplo.herencia3.Principal"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="POO3_Herencia_de_clases"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="POO3_Herencia_de_clases_27_5"/>
</launchConfiguration>
